<div class="intro-header-box">
  <header class="page-header">
    <h1>Register</h1>
  </header>
</div>
<div class="registration-wrapper">
  <form>
    <input name="name" type="text" placeholder="Name"/>
    <input name="number" type="text" placeholder="Age"/>   
    <select required name="occupation">
      <option value="hunter">Alien Hunter</option> 
      <option value="yoga">Yoga Teacher</option> 
      <option value="endo">Endomorph</option> 
      <option value="trump">Donald Trump</option> 
    </select> 
  </form>  
</div>  