.register-wrapper {
  align-items: center;  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100%;
}

.intro-header-box {
  align-items: center;
  display: flex;
  font-family: 'Orbitron', sans serif;
  font-size: 3rem;
  justify-content: center;
  padding-top: 5rem;
}

.registration-form-wrapper {
  align-items: center;
  background: linear-gradient(to bottom, rgba(125,126,125,0.5) 0%,rgba(14,14,14,0.5) 100%); 
  border: 5px darkred solid;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  height: 25rem;  
  width: 80%;
  justify-content: space-around;
}

.registration-field {
  background-color: lightgray;
  border: 2px solid darkred;
  border-radius: 6px;
  color: darkred;
  height: 2rem;
  font-family: 'Orbitron', sans serif;
  font-size: 1rem;
  outline: none;  
  transition: 0.5s;
  width: 7rem;
}

.registration-field:hover {
  width: 20rem;
  background-color: darkred;
  color: #FFF;
  transition: 1s;
}

.registration-field:hover::placeholder {
  color: #FFF;
}

.registration-dropdown {
  background-color: lightgray;
  border: 2px solid darkred;
  font-family: 'Orbitron', sans serif;
  font-size: 16px;
  padding: 1rem 0 1rem 0;
  width: 20rem;
  height: 2rem;
  text-align: center;
}

.submit-button {
  border: 2px solid darkred;
  border-radius: 6px;
  font-family: 'Orbitron', sans serif;
  width: 6rem;
  height: 1.5rem;
  outline: none;
  transition: 0.5s;
}

  .submit-button:hover {
    background-color: darkred;
    color: #FFF;
  }

  fieldset {
    width: 90%;
  }

  .fieldset-sub-wrapper {
    align-items: center;    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 15rem;
    width: 45rem;
  }

  .buttonwrapper {
    display: flex;
    justify-content: center;
    height: 5rem;
    button {
      margin-top: 2rem;
    }
  }

.form-feedback-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-family: 'Orbitron', sans serif;  
  align-items: center;
  width: 100%;
}  
