<div class="encounters-page-wrapper">
<div class="intro-header-box">  
  <h1>encounter.log</h1>

</div>  
<div class="encounters-wrapper">
  <ul>
    <li class="encounter" *ngFor='let encounter of this.encounters'><div class="encounter-date-type"><span class="text-contrast">date:</span> {{encounter.date}} <span class="text-contrast">species:</span> {{encounter.atype}}</div><div class="encounter-details"> details: {{encounter.action}} </div></li>    
  </ul>  
   <!--demo below-->
</div>  
   <div class="buttonwrapper">
     <a href="http://localhost:4200/report" ><button class="submit-button">report encounter</button></a>
   </div>    
</div>